@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

body{
    background: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 16px;
}

.container{
    margin: auto;
    background-color: hsl(225, 100%, 98%);
    max-width: 400px;
    border-radius: 20px;
    overflow: hidden;
}


.container img{
    width: 100%;
}

.second-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

.second-container h1{
    color: hsl(223, 47%, 23%);
    margin-bottom: 20px;
}

.second-container p{
    color: hsl(224, 23%, 55%);
    text-align: center;
    margin-bottom: 20px;
}

.little-square{
    display: flex;
    background-color: hsl(228, 29%, 93%);
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.little-square img{
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.little-square p{
    margin: 0px;
    padding: 0px;
    color: hsl(223, 47%, 23%);
    font-weight: bold;
}

.little-square .price{
    color: hsl(224, 23%, 55%);
    font-weight: normal;
}


.little-square button{
    border: none;
    background-color: transparent;
    padding-left: 33%;
    color: hsl(245, 75%, 52%);
    text-decoration: underline;
    font-weight: bold;
}

.little-square button:hover{
    color: hsl(224, 34%, 45%);
    text-decoration: none;
}

.payment{
    border: none;
    background-color: hsl(245, 75%, 52%);
    width: 115%;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

.payment:hover{
    background-color: hsl(224, 34%, 45%);
}

.cancel{
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: hsl(224, 23%, 55%);
}

.cancel:hover{
    color: hsl(223, 47%, 23%);
}